
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #ffffff;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    color: #1c0d02;;
}

.header button{
    width: 44px;
    height: 44px;
    cursor: pointer;
    border: 0;
    font-size: 30px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
}
.header button:focus{
    outline: 0;
}

/*Forms styling---START*/

.form-container {
    width: 70%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: right;
    background-color: burlywood;

    display: none;
}

form > * {
    margin: 5px;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, textarea{
    border: 2px ridge;
    border-radius: 5px;
}

#closeTag {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -20px;
    left: 250px;
    color: brown;
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0px;
}
/*Form styling---END*/


/*Calendar styling---START*/

.calendar{
    height: 90%;
    align-items: center;
    font-size: 20;
    font-weight: 500;
}
.calendar__info{
    display: flex;
    justify-content: space-around;
    height: 5%;
    text-transform: uppercase;
    font-weight: bold;
    color: #18171c;
}
.calendar__week{
    display: flex;
    height: 5%;
    justify-content: space-around;
}
.calendar__dates{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 5px;
}
.calendar__date{
    background-color: #001326;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    text-align: center;
    color: white;
}
.calendar__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.calendar__today p{
    background-color:#e51a4c;
}
.calendar__last-days{
    opacity: 0.6;
}
.events__area{
    height: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #ffecd9;
}
.calendar__next, .calendar__prev{
    font-size: 30px;
    cursor: pointer;
    color: #18171c;
}
/*Calendar styling---END*/

/*Events styling---START*/
.events__area p{
    font-size: 1rem;
    border-radius: 5%;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 130px;
}
.meeting::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 7.5px;
    background-color: #69b6d5;
}
.personal::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 7.5px;
    background-color: green;
    white-space: nowrap;
}
.study::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 7.5px;
    background-color: purple;
}
.other::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 7.5px;
    background-color: grey;
}