
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Event button*/

.addEventBtn {
    position: absolute;
    width: 150px;
    top: 20px;
    left: 40%;
}
/*Forms styling---START*/

.form-container {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: right;
    background-color: burlywood;

    display: none;
    
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, textarea{
    border: 2px ridge;
    border-radius: 5px;
}

#closeTag {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -40px;
    left: 300px;
    color: brown;
}
/*Form styling---END*/


 /*Calendar styling---START*/
 .header{
    display: flex;
    justify-content: space-around;
    height: 10%;
}
.calendar{
    height: 80%;
}
.calendar__info{
    display: flex;
    height: 5%;
    justify-content: center;
}
.calendar__week{
    display: flex;
    height: 5%;
    justify-content: space-around;
}
.calendar__dates{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5,1fr);
    border: 1px solid grey;
    gap: 10px;
}
.calendar__item{
    text-align: center;
}
.events__area{
    height: 15%;
}

/*Calendar styling---END*/