
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.btn__event{
    width: 44px;
    height: 44px;
    border: 0;
    font-size: 30px;
    color: #3c4043;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
}

/*Forms styling---START*/

.form-container {
    width: 70%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: right;
    background-color: burlywood;

    display: visible;
    
}

form > * {
    margin: 5px;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, textarea{
    border: 2px ridge;
    border-radius: 5px;
}

#closeTag {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -20px;
    left: 250px;
    color: brown;
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0px;
}
/*Form styling---END*/


 /*Calendar styling---START*/

 .calendar{
    height: 80%;
}
.calendar__info{
    display: flex;
    justify-content: space-around;
    height: 5%;
    text-transform: uppercase;
    color: #3c4043;
}
.calendar__week{
    display: flex;
    height: 5%;
    justify-content: space-around;
}
.calendar__dates{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6,1fr);
}
.calendar__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
    border: 1px solid grey;
}
.calendar__today p{
    border-radius:50% ;
    display: inline-block;
    background-color: red;
    width: 20%;
    text-align: center;
    color: white;
}
.events__area{
    height: 15%;
}
/*Calendar styling---END*/