p{
    margin-block-start: 0;
    margin-block-end: 0;
}
*{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}
.btn__event{
    width: 44px;
    height: 44px;
    border: 0;
    font-size: 30px;
    color: #3c4043;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
}
.calendar{
    height: 80%;
}
.calendar__info{
    display: flex;
    justify-content: space-around;
    height: 5%;
    text-transform: uppercase;
    color: #3c4043;
}
.calendar__week{
    display: flex;
    height: 5%;
    justify-content: space-around;
}
.calendar__dates{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6,1fr);
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}
.calendar__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.calendar__today p{
    border-radius:50% ;
    display: inline-block;
    background-color: red;
    width: 20%;
    text-align: center;
    color: white;
}
.events__area{
    height: 15%;
}