.header{
    display: flex;
    justify-content: space-around;
    height: 10%;
}
.calendar{
    height: 80%;
}
.calendar__info{
    display: flex;
    height: 5%;
    justify-content: center;
}
.calendar__week{
    display: flex;
    height: 5%;
    justify-content: space-around;
}
.calendar__dates{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5,1fr);
    border: 1px solid grey;
    gap: 10px;
}
.calendar__item{
    text-align: center;
}
.events__area{
    height: 15%;
}